* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  /* height: 720px; */
}

.App
{
  text-align: center;
}

.App-intro
{
  font-size: large;
}

.App-logo
{
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header
{
  background-color:#222;
  color:#2E1;
  height: 20px;
  width: 100%;
  z-index:100002;
}

.App-body
{
  margin:0;
  position: relative;
  overflow: auto;
  padding-bottom:0;
}

.App-alg
{
  background:#eef url("https://media.giphy.com/media/Nhz1hUtcTnukU/giphy.gif");
}

.App-social
{
  background-color:#fee;
  background:#eef url("https://dl.dropboxusercontent.com/u/6244/fakemews/cash-bg.jpg");
}

.App-footer
{
  position:fixed;
  bottom:0;
  left:0;
  height:30px;
  background-color: #CED;  /* transparent */
  width: 100%;
  z-index:100001;
}
