* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.App
{
  text-align: center;
}

.App-intro
{
  font-size: large;
}

.App-logo
{
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header
{
  background-color: #222;
  color: white;
  height: 20px;
  margin: 3px;
  padding:4px;
  width: 99%;
  z-index:100002;
}

.App-body
{
  margin: 20px 0 0 0;
  position: relative;
  overflow: auto;
  padding-bottom: 80px;
}

.App-alg
{
  background:#eef url("/imgs/ui/binary-bg.jpg");
}

.App-social
{
  background-color:#fee;
  background:#eef url("/imgs/ui/cash-bg.jpg");
}

.App-footer
{
  position:fixed;
  bottom:0;
  left:0;
  height:30px;
  padding:3px;
  background-color: #CED;  /* transparent */
  width: 100%;
  z-index:100001;
}

.App-footer img
{
  height:80px;
}
