.social-post {
  background-color: #EAEAEA;
  color: white;
  margin:10px 0;
  text-align: left;
  padding: 10px;
  animation: Post-bounce-in 300ms;
}

.social-post-img
{
  background-position: center center;
  background-size: cover;
  border: 1px #EEE solid;
  height: 135px;
  overflow: hidden;
}

.social-post-title
{
  width:100%;
  margin-bottom:5px;
}

.social-post-likes
{
  margin: 5px 0 0 0;
  height: 20px;
}

.social-post-likes img
{
  height: 25px;
}

.meter{
  background-color: #EAEAEA;
  height: 200px;
}

.timer
{
  background-color:red;
  color: white;
}


/* ANIMATIONS */

@keyframes Post-bounce-in
{
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60%{
    transform: scale(1.2);
    opacity: 1;
  }
  100%{
    transform:scale(1);
  }
}
