.social-post {
  background-color: #EAEAEA;
  color: white;
  margin:10px 0;
  text-align: left;
  padding: 10px;
  position: relative;
  animation: Post-drop-in .8s;
}

.social-post-img
{
  background-position: center center;
  background-size: cover;
  border: 1px #EEE solid;
  height: 135px;
  overflow: hidden;
}

.social-post-title
{
  width:100%;
  margin:13px 0 10px 0;
  font-size: 1.45em;
}

.social-post-likes
{
  margin: 2px 0 5px 0;
  padding: 2px 0 5px 0;
  height: 20px;
}

.social-post-likes img
{
  float:left;
  height: 25px;
  margin: 0 4px 0 0;
}

.social-post-time
{
  font-size: 0.75em;
  color: #d1d1d1;
}

.social-post-sharedBy
{
  padding:3px 0 3px 0;
}

.meter{
  background-color: #333;
  height: 130px;
  z-index: 10000;
}

.meter img
{
  height: 110px;
  /* border-radius: 50%; */
}

.meter-bar
{
  margin:20px 10px 0 10px;
}

.meter-bar-green
{
  margin: 1px;
  height: 76px;
  background-color:green;
}

.meter-bar-yellow
{
  margin: 1px;
  height: 76px;
  background-color:yellow;
}

.meter-bar-orange
{
  margin: 1px;
  height: 76px;
  background-color:orange;
}

.meter-bar-red
{
  margin: 1px;
  height: 76px;
  background-color:red;
}

.meter-bar-off
{
  margin: 1px;
  height: 76px;
  background-color:#EEE;
}

.swap-choose
{
  margin:20px 0 0 0;
}

.swap-choose button
{
  width:100%;
  height: 75px;
}

.timer
{
  background-color:red;
  color: white;
}

.money
{
  height:100%;
  margin:70px 0 0 0;
}


/* ANIMATIONS */

@keyframes Post-bounce-in
{
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  60%{
    transform: scale(1.2);
    opacity: 1;
  }
  100%{
    transform:scale(1);
  }
}

@keyframes Post-drop-in
{
  0%{
    top:-360px;
  }
  100%{
    top:0px;
  }
}
